alembic==1.13.1
APScheduler==3.10.4
Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_Login==0.6.3
flask_mail==0.10.0
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
itsdangerous==2.2.0
python-dotenv==1.0.1
SQLAlchemy==2.0.25
twilio==8.13.0
WTForms==3.0.1
