{% extends "base.html" %}

{% block title %}Add New Document - Fleet Management{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Add New Document</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.document_type.label(class="form-label") }}<br>
            {{ form.document_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.serial_number.label(class="form-label") }}<br>
            {{ form.serial_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.start_date.label(class="form-label") }}<br>
            {{ form.start_date(class="form-control", type="date") }}
        </div>
        <div class="form-group">
            {{ form.end_date.label(class="form-label") }}<br>
            {{ form.end_date(class="form-control", type="date") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}