<!-- templates/create_vehicle.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>Add Vehicle</h1>
    <form method="POST" action="{{ url_for('main.new_vehicle') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.vehicle_number.label }}<br>
            {{ form.vehicle_number(size=32) }}<br>
            {% for error in form.vehicle_number.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
