<!-- create_vehicle.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>Add New Vehicle</h1>
    <form method="POST" action="{{ url_for('main.new_vehicle') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.vehicle_number.label }} {{ form.vehicle_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
