{% extends "base.html" %}

{% block title %}Edit Vehicle - Fleet Management{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Edit Vehicle</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-label") }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.vehicle_number.label(class="form-label") }}<br>
            {{ form.vehicle_number(class="form-control") }}<br>
            {% for error in form.vehicle_number.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}