{% extends 'base.html' %}

{% block title %}Home - MCM{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Welcome to MCM</h1>
                <p>Explore your vehicles:</p>
                <ul class="list-group">
                    {% for vehicle in vehicles %}
                        <li class="list-group-item">{{ vehicle.name }} - {{ vehicle.vehicle_number }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('main.new_vehicle') }}" class="btn btn-primary mt-3">Add New Vehicle</a>
            </div>
        </div>
    </div>
{% endblock %}
