{% extends 'base.html' %}

{% block title %}MCM{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Welcome to MCM</h2>
          <p class="card-text">Please <a href="{{ url_for('main.login') }}">Login</a> or <a href="{{ url_for('main.register') }}">Register</a> to manage your vehicles.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
