{% extends "base.html" %}

{% block title %}Password Recovery{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Password Recovery</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}