{% extends "base.html" %}

{% block title %}View Logs{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">User Action Logs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">User</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.user.username if log.user else "Anonymous" }}</td>
                <td>{{ log.action }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}